.my-container {
  max-width: 1152px;
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: flex;
}

@media (max-width: 640px) {
  /* @media (max-width: 768px) { */
  /* @media (max-width: 820px) { */
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
}

/* #region FlowingCarousel */
@keyframes flowing-carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-flowing-carousel {
  animation: flowing-carousel-scroll var(--flowing-carousel-duration, 20s)
    linear infinite;
  animation-play-state: running;
}
/* #endregion */
