html,
body,
:root {
  scroll-behavior: smooth;

  --color-primary: #a800e0;
  --color-primary-light: #dd76ff;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}
ul ul {
  list-style: circle;
  padding-left: 1.5rem;
}
ul ul ul {
  list-style: square;
  padding-left: 1.5rem;
}

:focus-visible {
  @apply ring-1;
}
